@font-face {
	font-family: 'CeraPro-Regular';
	src: url('../fonts/CeraPro-Regular.eot');
	src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CeraPro-Regular.svg#CeraPro-Regular') format('svg'),
	url('../fonts/CeraPro-Regular.ttf') format('truetype'),
	url('../fonts/CeraPro-Regular.woff') format('woff'),
	url('../fonts/CeraPro-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CeraPro-Medium';
	src: url('../fonts/CeraPro-Medium.eot');
	src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CeraPro-Medium.svg#CeraPro-Medium') format('svg'),
	url('../fonts/CeraPro-Medium.ttf') format('truetype'),
	url('../fonts/CeraPro-Medium.woff') format('woff'),
	url('../fonts/CeraPro-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CeraPro-Bold';
	src: url('../fonts/CeraPro-Bold.eot');
	src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CeraPro-Bold.svg#CeraPro-Bold') format('svg'),
	url('../fonts/CeraPro-Bold.ttf') format('truetype'),
	url('../fonts/CeraPro-Bold.woff') format('woff'),
	url('../fonts/CeraPro-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


