// main styles
$bodyColor: #fff;
$white: #fff;
$mainTextColor: #162331;
$animationSpeed: 0.4s;
$breadcrumpCurrentColor: #758494;
$socialButtonsHover: #13B6FF;

// header styles
$headerBackground: #162331;
$textColorOpacity: rgba($white, 0.7);
$menuButton: #099CE7;
//fixed menu
$openerBorderColor: #5A6E84;



// services & plans styles
$serviceItemBorder: #EEF2F6;
$serviceTextColor: #78818F;
